<h1>ユーザー一覧</h1>

<% if user_signed_in? %>
  		<% @users.each do |u| %>
  		<p><%= link_to u.user_name, user_path(u) %></p>
  		<hr>
  		<% end %>
  		<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<% end %>